<header class="header">
   <div class="main">
        <div class="about-my-guide">
            <div class="about-image"></div>
            <div class="about-text">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ab vitae unde, et odit aperiam 
                    consectetur cupiditate aliquid repellat? Laboriosam unde, reprehenderit officia magni totam fuga 
                    esse cupiditate laudantium id facere doloremque ea, vitae, tenetur doloribus similique asperiores 
                    quo facilis! Consequuntur veniam et inventore blanditiis ad. Quidem at adipisci voluptatibus!
                </p>
            </div>
        </div>
   </div>
</header>