<header class="header">
    <div class="main">
        <div class="wrapper">
            <div class="select-city-block">
                <div class="select-city-block-text"><span>city</span></div>
                <div class="select" tabindex="1">
                    <input class="selectopt" name="test" type="radio" id="opt1" checked>
                    <label for="opt1" class="option">Lviv</label>
                    <!-- <input class="selectopt" name="test" type="radio" id="opt2">
                    <label for="opt2" class="option">Apples</label>
                    <input class="selectopt" name="test" type="radio" id="opt3">
                    <label for="opt3" class="option">Grapefruit</label>
                    <input class="selectopt" name="test" type="radio" id="opt4">
                    <label for="opt4" class="option">Bananas</label>
                    <input class="selectopt" name="test" type="radio" id="opt5">
                    <label for="opt5" class="option">Watermelon</label> -->
                  </div>
            </div>
            <div class="your-city-block">
                <!-- <div class="no-city-image"></div> -->
                <div class="num-1 num"></div>
                <div class="num-2 num"></div>
                <div class="num-3 num"></div>
                <div class="num-4 num"></div>
                <div class="num-5 num"></div>
                <div class="num-6 num"></div>
                <div class="num-7 num"></div>
                <div class="num-8 num"></div>
                <div class="num-9 num"></div>
                <div class="num-10 num"></div>
            </div>
            <div class="btn-save-info">save</div>
        </div>
        
    </div>
</header>